
.pult {
  width: 190px; /* Ширина слоя */ 
  height: 330px;
  float: left; /* Состыковка с соседним слоем */ 
  padding: 10px; /* Поля вокруг текста */ 
  border: 3px solid #800080;
  color: #FF4500; /* Цвет текста*/ 
  background-color: #FFFFE0;  /* Цвет фона левой колонки */ 
   
 }

 
.tvset {
  width: 200px;
  height: 100px;
  /*float: left;*/
  margin-left:100px;
  padding: 10px;
  border: 2px solid #00FF00;
  color: #FF0000;
  background-color: #dff000;
  /*top: 10px; 
  left: 70px; */
  float: left;

  }

 
.heater {
  width: 200px;
  height: 100px;
  float: left;
  /* margin-left:200px;*/
  padding: 10px;
  border: 2px solid #00FF00;
  color: #FFFF00;
  background-color: black;
  /*top: 10px; 
  left: 70px; */
  float: left;

  }
 

.light {
  width: 200px;
  height: 100px;
  float: left;
  /* margin-left:200px;*/
  padding: 10px;
  border: 2px solid #00FF00;
  color: #0000FF;
   background-color: black;
  /*top: 10px; 
  left: 70px; */
  float: left;
		
  }


